@model IEnumerable<Databaze_lab_2.Stage>

@{
    ViewData["Title"] = "Таблиця етапів";
}

<h1>Таблиця етапів</h1>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport.TransportName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport.TransportName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.StageId">Інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.StageId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Menu">Назад до меню</a>
</div>