@model IEnumerable<Databaze_lab_2.Country>

@{
    ViewData["Title"] = "Таблиця країн";
}

<h1>Таблиця країн</h1>

<p>
    <a asp-action="Create">Створити нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Menu">Назад до меню</a>
</div>
