@model IEnumerable<Databaze_lab_2.Voucher>

@{
    ViewData["Title"] = "Таблиця ваучерів";
}

<h1>Таблиця ваучерів</h1>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tourist.TouristName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tourist.TouristName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Menu">Назад до меню</a>
</div>