@model IEnumerable<Databaze_lab_2.Tourist>

@{
    ViewData["Title"] = "Таблиця туристів";
}

<h1>Таблиця туристів</h1>

<p>
    <a asp-action="Create">Створити нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TouristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TouristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TouristId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.TouristId">Інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.TouristId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Menu">Назад до меню</a>
</div>